aniso8601==8.0.0
certifi==2022.12.7
click==7.1.1
Flask==1.1.2
Flask-Caching==1.8.0
Flask-Cors==3.0.8
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
modules==1.0.0
pytz==2019.3
sentry-sdk==0.14.3
six==1.14.0
SQLAlchemy==1.3.16
urllib3==1.25.9
Werkzeug==1.0.1
